<!-- home.ejs -->
<!-- 
    <% %>: Dùng để thực thi mã JavaScript không in ra kết quả.
    <%= %>: Dùng để in ra kết quả của biểu thức JavaScript. 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- Đường dẫn đến file CSS -->
  </head>
  <body>
    <header>
      <h1>Welcome to our Website</h1>
    </header>

    <section>
      <p>This is the home page content.</p>
      <ul>
        <% for(let i=1; i<=5; i++) { %>
        <li>Item <%= i %></li>
        <% } %>
      </ul>
    </section>

    <footer>
      <p>&copy; 2023 Your Website</p>
    </footer>
  </body>
</html>
