<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user Page</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- Đường dẫn đến file CSS -->
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div></div>
    <!-- mt-<1-5> -->
    <div class="container mt-5">
      <div class="row">
        <!-- ---------------------form------------------------ -->
        <div class="user-infor-container">
          <form action="/user/user-create" method="post">
            <div>
              <h1>Create New User</h1>
            </div>

            <div class="mt-3">
              <div class="mb-3 col-6">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  required
                  name="email"
                />
              </div>
              <div class="mb-3 col-6">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="mb-3 col-6">
                <label for="username" class="form-label">User Name</label>
                <input
                  class="form-control"
                  id="username"
                  required
                  name="username"
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

        <!-- --------------table------------- -->
        <div class="table-users mt-3">
          <table class="table table-hover table-bordered">
            <div class=""><h2>table user</h2></div>
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">User name</th>
                <th scope="col">Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% userList.map(user => { %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.userName %></td>
                <td><%= user.email %></td>
                <td>
                  <form
                    action="/user/user-update/<%= user.id %>"
                    style="display: inline"
                    method="get"
                  >
                    <button type="submit" class="btn btn-warning mr-3">
                      Edit
                    </button>
                  </form>
                  <form
                    action="/user/user-delete/<%= user.id %> "
                    style="display: inline"
                    method="POST"
                  >
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
