<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update user</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- Đường dẫn đến file CSS -->
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div></div>
    <!-- mt-<1-5> -->
    <div class="container mt-5">
      <div class="row">
        <!-- ---------------------form------------------------ -->
        <div class="user-update-container">
          <form action="/user/user-update" method="post">
            <div>
              <h1>update User</h1>
            </div>

            <div class="mt-3">
              <div class="mb-3 col-6">
                <input hidden value="<%=user.id%>" name="id" />
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  required
                  name="email"
                  value="<%= user.email%>"
                />
              </div>

              <div class="mb-3 col-6">
                <label for="userName" class="form-label">User Name</label>
                <input
                  value="<%= user.userName%>"
                  class="form-control"
                  id="username"
                  required
                  name="username"
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
